/* ---- CSS de la cabecera ---- */

.fondo-cabecera{
    background-color: #1d99d5;
}
  
.nav-item{
    border-right: 1px solid #fff;
}
  
.nav-item:last-child {
    border-right:none;
}
  
.nav-item .nav-link img{
    width: 164px;
    height: 57px;
    padding-left: 0px;
}