.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.958496;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.104492;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.958496;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.096680;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.418878px;}
._1{width:61.304033px;}
._4{width:96.192000px;}
._3{width:822.068522px;}
._2{width:1114.213288px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(87,87,87);}
.fs3{font-size:48.000000px;}
.fs2{font-size:96.000000px;}
.fs4{font-size:144.000000px;}
.fs5{font-size:192.000000px;}
.fs1{font-size:216.000000px;}
.fs0{font-size:264.000000px;}
.fs6{font-size:400.000000px;}
.y0{bottom:0.000000px;}
.y3a{bottom:24.813986px;}
.yc{bottom:27.996511px;}
.y28{bottom:34.187309px;}
.y4d{bottom:42.122427px;}
.y27{bottom:48.587311px;}
.y2f{bottom:51.658180px;}
.y2a{bottom:54.987312px;}
.y26{bottom:62.987312px;}
.y29{bottom:69.387314px;}
.y3{bottom:72.033844px;}
.y25{bottom:77.387314px;}
.y2e{bottom:80.458181px;}
.y4c{bottom:81.127218px;}
.y38{bottom:82.928244px;}
.yb{bottom:85.336599px;}
.y24{bottom:91.787312px;}
.y4e{bottom:104.270132px;}
.y23{bottom:106.187311px;}
.y7{bottom:111.529745px;}
.y11{bottom:134.451712px;}
.ya{bottom:137.956686px;}
.y37{bottom:142.868490px;}
.y3b{bottom:147.844473px;}
.y21{bottom:154.102249px;}
.y1d{bottom:160.502251px;}
.y20{bottom:168.502251px;}
.y1c{bottom:174.902252px;}
.y4b{bottom:177.978415px;}
.y31{bottom:182.369209px;}
.y1f{bottom:182.902252px;}
.y1b{bottom:189.302254px;}
.y45{bottom:193.430702px;}
.y1e{bottom:197.302254px;}
.y36{bottom:197.468405px;}
.y5f{bottom:199.956085px;}
.y22{bottom:203.702255px;}
.y30{bottom:211.169210px;}
.y1a{bottom:211.702255px;}
.y3c{bottom:214.407461px;}
.y18{bottom:218.102253px;}
.y10{bottom:220.877615px;}
.y44{bottom:222.230703px;}
.y9{bottom:223.329031px;}
.y19{bottom:226.102253px;}
.y5e{bottom:228.756088px;}
.y62{bottom:229.105179px;}
.y2{bottom:230.433838px;}
.y63{bottom:232.684860px;}
.y4a{bottom:236.738241px;}
.y17{bottom:240.502253px;}
.y35{bottom:247.479668px;}
.y5d{bottom:257.556091px;}
.y43{bottom:267.901878px;}
.y65{bottom:268.856697px;}
.y34{bottom:276.279669px;}
.yf{bottom:276.677544px;}
.y16{bottom:278.210129px;}
.y6{bottom:279.901405px;}
.y5c{bottom:286.356087px;}
.y3f{bottom:291.798527px;}
.y15{bottom:292.610126px;}
.y42{bottom:296.701880px;}
.y49{bottom:300.994070px;}
.y2d{bottom:303.441246px;}
.ye{bottom:305.477545px;}
.y14{bottom:307.010126px;}
.y5{bottom:308.701406px;}
.y1{bottom:309.633850px;}
.y5b{bottom:315.156086px;}
.y2c{bottom:332.241247px;}
.y33{bottom:340.851873px;}
.y53{bottom:343.515427px;}
.y61{bottom:350.762665px;}
.y41{bottom:353.835730px;}
.y60{bottom:359.876831px;}
.y48{bottom:368.880529px;}
.y39{bottom:381.078957px;}
.y58{bottom:381.462273px;}
.y13{bottom:389.523905px;}
.y4{bottom:389.761440px;}
.y52{bottom:391.596436px;}
.y5a{bottom:392.538929px;}
.yd{bottom:399.735287px;}
.y8{bottom:402.656948px;}
.y50{bottom:403.490143px;}
.y57{bottom:424.662270px;}
.y55{bottom:424.662987px;}
.y2b{bottom:428.935997px;}
.y47{bottom:432.992531px;}
.y12{bottom:439.194180px;}
.y59{bottom:450.138927px;}
.y40{bottom:453.449852px;}
.y46{bottom:459.449852px;}
.y32{bottom:464.539619px;}
.y51{bottom:465.636234px;}
.y3e{bottom:466.274578px;}
.y3d{bottom:468.347729px;}
.y54{bottom:480.518120px;}
.y56{bottom:480.518990px;}
.y4f{bottom:485.856705px;}
.y64{bottom:488.695736px;}
.h4{height:34.523438px;}
.h7{height:69.046875px;}
.h3{height:78.046875px;}
.h5{height:103.570312px;}
.h6{height:138.093750px;}
.h2{height:155.355469px;}
.h1{height:189.878906px;}
.h8{height:287.695312px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x34{left:98.140503px;}
.x3b{left:102.254623px;}
.x2d{left:106.922501px;}
.x4{left:111.875336px;}
.x25{left:114.004578px;}
.x11{left:122.729355px;}
.x38{left:128.210632px;}
.x10{left:131.467148px;}
.x1d{left:133.861588px;}
.x7{left:140.888954px;}
.x2b{left:142.139038px;}
.x35{left:144.194885px;}
.xc{left:145.282288px;}
.x5{left:149.993240px;}
.x28{left:154.446152px;}
.x1a{left:157.291260px;}
.x24{left:162.308945px;}
.x2e{left:164.034256px;}
.x30{left:165.244476px;}
.x20{left:169.308945px;}
.x2a{left:178.267883px;}
.x21{left:183.306839px;}
.x17{left:186.867599px;}
.x16{left:192.272827px;}
.x12{left:198.103363px;}
.x31{left:203.011597px;}
.x8{left:208.202118px;}
.x36{left:216.774963px;}
.x1{left:217.912384px;}
.x39{left:230.418808px;}
.x22{left:246.888962px;}
.xb{left:251.855835px;}
.x3d{left:265.247162px;}
.x18{left:269.009552px;}
.xd{left:286.471039px;}
.x2f{left:289.275436px;}
.x32{left:297.578217px;}
.x27{left:311.713470px;}
.x26{left:313.561035px;}
.x23{left:316.417877px;}
.x13{left:322.107300px;}
.x33{left:326.025620px;}
.x37{left:330.399673px;}
.xe{left:332.358185px;}
.x19{left:346.561737px;}
.x1f{left:356.093063px;}
.x1b{left:360.031036px;}
.xa{left:363.889374px;}
.x9{left:366.034241px;}
.x1c{left:371.741898px;}
.xf{left:378.245331px;}
.x6{left:390.518829px;}
.x2c{left:437.710693px;}
.x14{left:451.782501px;}
.x15{left:469.782501px;}
.x2{left:490.210663px;}
.x3{left:502.408417px;}
.x1e{left:527.838623px;}
.x3a{left:584.556915px;}
.x3c{left:608.044479px;}
.x29{left:637.625549px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.891837pt;}
._1{width:81.738710pt;}
._4{width:128.256000pt;}
._3{width:1096.091363pt;}
._2{width:1485.617717pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:128.000000pt;}
.fs4{font-size:192.000000pt;}
.fs5{font-size:256.000000pt;}
.fs1{font-size:288.000000pt;}
.fs0{font-size:352.000000pt;}
.fs6{font-size:533.333333pt;}
.y0{bottom:0.000000pt;}
.y3a{bottom:33.085314pt;}
.yc{bottom:37.328682pt;}
.y28{bottom:45.583079pt;}
.y4d{bottom:56.163236pt;}
.y27{bottom:64.783081pt;}
.y2f{bottom:68.877574pt;}
.y2a{bottom:73.316416pt;}
.y26{bottom:83.983083pt;}
.y29{bottom:92.516418pt;}
.y3{bottom:96.045125pt;}
.y25{bottom:103.183085pt;}
.y2e{bottom:107.277575pt;}
.y4c{bottom:108.169624pt;}
.y38{bottom:110.570992pt;}
.yb{bottom:113.782132pt;}
.y24{bottom:122.383082pt;}
.y4e{bottom:139.026843pt;}
.y23{bottom:141.583082pt;}
.y7{bottom:148.706327pt;}
.y11{bottom:179.268949pt;}
.ya{bottom:183.942248pt;}
.y37{bottom:190.491320pt;}
.y3b{bottom:197.125964pt;}
.y21{bottom:205.469666pt;}
.y1d{bottom:214.003001pt;}
.y20{bottom:224.669668pt;}
.y1c{bottom:233.203003pt;}
.y4b{bottom:237.304553pt;}
.y31{bottom:243.158946pt;}
.y1f{bottom:243.869670pt;}
.y1b{bottom:252.403005pt;}
.y45{bottom:257.907603pt;}
.y1e{bottom:263.069672pt;}
.y36{bottom:263.291206pt;}
.y5f{bottom:266.608114pt;}
.y22{bottom:271.603007pt;}
.y30{bottom:281.558947pt;}
.y1a{bottom:282.269674pt;}
.y3c{bottom:285.876615pt;}
.y18{bottom:290.803004pt;}
.y10{bottom:294.503487pt;}
.y44{bottom:296.307604pt;}
.y9{bottom:297.772041pt;}
.y19{bottom:301.469671pt;}
.y5e{bottom:305.008118pt;}
.y62{bottom:305.473572pt;}
.y2{bottom:307.245117pt;}
.y63{bottom:310.246480pt;}
.y4a{bottom:315.650988pt;}
.y17{bottom:320.669670pt;}
.y35{bottom:329.972890pt;}
.y5d{bottom:343.408122pt;}
.y43{bottom:357.202504pt;}
.y65{bottom:358.475596pt;}
.y34{bottom:368.372892pt;}
.yf{bottom:368.903392pt;}
.y16{bottom:370.946838pt;}
.y6{bottom:373.201874pt;}
.y5c{bottom:381.808116pt;}
.y3f{bottom:389.064702pt;}
.y15{bottom:390.146835pt;}
.y42{bottom:395.602506pt;}
.y49{bottom:401.325427pt;}
.y2d{bottom:404.588328pt;}
.ye{bottom:407.303393pt;}
.y14{bottom:409.346835pt;}
.y5{bottom:411.601875pt;}
.y1{bottom:412.845133pt;}
.y5b{bottom:420.208115pt;}
.y2c{bottom:442.988330pt;}
.y33{bottom:454.469165pt;}
.y53{bottom:458.020569pt;}
.y61{bottom:467.683553pt;}
.y41{bottom:471.780973pt;}
.y60{bottom:479.835775pt;}
.y48{bottom:491.840706pt;}
.y39{bottom:508.105275pt;}
.y58{bottom:508.616364pt;}
.y13{bottom:519.365206pt;}
.y4{bottom:519.681920pt;}
.y52{bottom:522.128581pt;}
.y5a{bottom:523.385239pt;}
.yd{bottom:532.980382pt;}
.y8{bottom:536.875931pt;}
.y50{bottom:537.986857pt;}
.y57{bottom:566.216359pt;}
.y55{bottom:566.217316pt;}
.y2b{bottom:571.914663pt;}
.y47{bottom:577.323374pt;}
.y12{bottom:585.592239pt;}
.y59{bottom:600.185237pt;}
.y40{bottom:604.599803pt;}
.y46{bottom:612.599803pt;}
.y32{bottom:619.386159pt;}
.y51{bottom:620.848312pt;}
.y3e{bottom:621.699437pt;}
.y3d{bottom:624.463638pt;}
.y54{bottom:640.690826pt;}
.y56{bottom:640.691986pt;}
.y4f{bottom:647.808940pt;}
.y64{bottom:651.594315pt;}
.h4{height:46.031250pt;}
.h7{height:92.062500pt;}
.h3{height:104.062500pt;}
.h5{height:138.093750pt;}
.h6{height:184.125000pt;}
.h2{height:207.140625pt;}
.h1{height:253.171875pt;}
.h8{height:383.593750pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x34{left:130.854004pt;}
.x3b{left:136.339498pt;}
.x2d{left:142.563334pt;}
.x4{left:149.167114pt;}
.x25{left:152.006104pt;}
.x11{left:163.639140pt;}
.x38{left:170.947510pt;}
.x10{left:175.289530pt;}
.x1d{left:178.482117pt;}
.x7{left:187.851939pt;}
.x2b{left:189.518717pt;}
.x35{left:192.259847pt;}
.xc{left:193.709717pt;}
.x5{left:199.990987pt;}
.x28{left:205.928202pt;}
.x1a{left:209.721680pt;}
.x24{left:216.411926pt;}
.x2e{left:218.712341pt;}
.x30{left:220.325968pt;}
.x20{left:225.745260pt;}
.x2a{left:237.690511pt;}
.x21{left:244.409119pt;}
.x17{left:249.156799pt;}
.x16{left:256.363770pt;}
.x12{left:264.137817pt;}
.x31{left:270.682129pt;}
.x8{left:277.602824pt;}
.x36{left:289.033285pt;}
.x1{left:290.549845pt;}
.x39{left:307.225077pt;}
.x22{left:329.185282pt;}
.xb{left:335.807780pt;}
.x3d{left:353.662882pt;}
.x18{left:358.679403pt;}
.xd{left:381.961385pt;}
.x2f{left:385.700582pt;}
.x32{left:396.770955pt;}
.x27{left:415.617961pt;}
.x26{left:418.081380pt;}
.x23{left:421.890503pt;}
.x13{left:429.476400pt;}
.x33{left:434.700826pt;}
.x37{left:440.532898pt;}
.xe{left:443.144246pt;}
.x19{left:462.082316pt;}
.x1f{left:474.790751pt;}
.x1b{left:480.041382pt;}
.xa{left:485.185832pt;}
.x9{left:488.045654pt;}
.x1c{left:495.655863pt;}
.xf{left:504.327108pt;}
.x6{left:520.691772pt;}
.x2c{left:583.614258pt;}
.x14{left:602.376668pt;}
.x15{left:626.376668pt;}
.x2{left:653.614217pt;}
.x3{left:669.877889pt;}
.x1e{left:703.784831pt;}
.x3a{left:779.409220pt;}
.x3c{left:810.725972pt;}
.x29{left:850.167399pt;}
}
